
<html>
<head>
    <title>

    </title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/js/bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Weedding Planner</a>


        </div>
        <div>
            <ul class="nav navbar-nav">
                

                
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
              
               
                <li>
                    @Html.ActionLink("Designs", "Designs", "Home")
                </li>
                <li>
                    @Html.ActionLink("Logout", "Logout", "Home")
                </li>
               
                <li>
                    @Html.ActionLink("PicShow", "PicShow", "Home")
                </li>
                <li>
                    @Html.ActionLink("Search", "Search", "Home")
                </li>
               
            </ul>
           
        </div>
       
    </nav>

   


    <form class="form-horizontal col-md-8" role="form">
        <div class="form-group">
            <img src="~/Images/m3.jpg" width="770" height="600">

        </div>
    </form>

    <h3>WELCOME</h3> <h3>@Session["Name"]</h3>
    <h1> About </h1>
    This is for helping u in finding new Design of Mehndi ,Barat And Walima .
    Decoration of These Function in diffrent styels by which u can get new ideas .
    </br>
    U can View the Detals of Selected Design and can Choose any Design of Ur choice .
    </br>
    In Up cominng Days  As u know that Diffrent design are there for Diffrent functions and by using this website
    user will feel easy to select a Design for any Function i.e Mhndi Barat and Walima.

    <br/>
    <br/>
    <br/>


   

      
</body>
</html>
