@model final_project.Models.Mehndi
<html>
<head>
    <title>

    </title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/js/bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

    <body>

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Weedding Planner</a>


            </div>
            <div>


                <ul class="nav navbar-nav">

                  
                    <li>@Html.ActionLink("Delete", "Delete", "Home")</li>
                   
                  
                    <li>
                        @Html.ActionLink("Logout", "Logout", "Home")
                    </li>
                </ul>
            </div>
        </nav>
        <div style="background-color:lightgoldenrodyellow"</div>
        

      
       
            <h1>Welcome</h1>

        <form action="/Admin/AddMehndi1" method="post">


            @Html.LabelFor(m => m.Detail)
            @Html.TextBoxFor(m => m.Detail)

            <br />
            <br />
            @Html.LabelFor(m => m.Price)
            @Html.TextBoxFor(m => m.Price)


           @*<div>
               
                <table border="1">
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.Id</td>
                            <td>@i.Name</td>
                            <td>@i.Price</td>
                            <td>@Html.ActionLink("Edit", "EditItem", new { id = i.Id })</td>
                            <td>@Html.ActionLink("Delete", "DeleteItem", new { id = i.Id })</td><
                        </tr>
                    }
                </table>
            </div>*@
            <br/>
            <br/>
            </form>
        <form action="/Admin/AddMehndi2" method="post" enctype="multipart/form-data">

            Upload Image: <input type="file" name="image" />



            <input type="submit" value="upload" />

        </form>
       
    </body>
</head>
</html>