<html>
<head>
    <title>

    </title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/js/bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Weedding Planner</a>


        </div>
        <div>


            <ul class="nav navbar-nav">

                
                <li>@Html.ActionLink("About", "About", "Home")</li>
               
               

                <li>@Html.ActionLink("Mehndi", "Mehndi", "Home")</li>
                <li>@Html.ActionLink("Barat", "Barat", "Home")</li>
                <li>@Html.ActionLink("Walima", "Walima", "Home")</li>

                <li>
                    @Html.ActionLink("Search", "Search", "Home")
                </li>

                <li>
                    @Html.ActionLink("Logout", "Logout", "Home")
                </li>
               
            </ul>
        </div>
    </nav>


    <section class="contact">
        <header>
            <h3>Phone</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>0300 4054612</span>
        </p>
        <p>
            <span class="label">AnOther:</span>
            <span>0315 4054612</span>
        </p>
        <p>
            <span class="label">AnOther:</span>
            <span>0316 4054612</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:Support@example.com">Support@example.com</a></span>
        </p>
        <p>
            <span class="label">Marketing:</span>
            <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:General@example.com">General@example.com</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Address</h3>
        </header>
        <p>
            One Microsoft Way<br />
            Redmond, WA 98052-6399
        </p>
    </section>
   
    </body>
</html>



















