@model final_project.Models.Login

<html>
<head>
    <title>

    </title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/js/bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Weedding Planner</a>


        </div>
        <div>


            <ul class="nav navbar-nav">

          
                <li>@Html.ActionLink("SignUp", "SignUp", "Home")</li>
             
               
               

            </ul>
        </div>
    </nav>
  <div style="background-color:pink"></div>

    @using (Html.BeginForm("LogIn1", "Home", FormMethod.Post))
    {
         
                <div style="text-align:center">
                    <img src="/Images/Log.jpg" width="400" height="400">
                </div>
       
        
        @Html.LabelFor(m=>m.Name )
        @Html.TextBoxFor(m=>m.Name)
        
        <br/>
        <br/>
        
         @Html.LabelFor(m=>m.Pass)
      @Html.PasswordFor(m=>m.Pass)
        
        <br/>
        <br/>
    
                <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Login</button>
               
    }

    <div/>
  


</body>
</html>







