@model final_project.Models.Mehndi
<html>
<head>
    <title>

    </title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/js/bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Weedding Planner</a>


        </div>
        <div>
            <ul class="nav navbar-nav">


                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Barat", "Barat", "Home")</li>
                <li>@Html.ActionLink("Walima", "Walima", "Home")</li>

                <li>
                    @Html.ActionLink("Search", "Search", "Home")
                </li>
                <li>
                    @Html.ActionLink("Logout", "Logout", "Home")
                </li>
            </ul>
        </div>
    </nav>



    <form action="Detail1" method="post">
        <form class="form-horizontal col-md-8" role="form">
            <div class="form-group">
                <h1>Mahndi Design</h1>
                <img src="~/Images/m5.jpg" width="800" height="400">

              
            </div>
            <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
        </form>
    </form>
    <form action="Detail1" method="post">
        <form class="form-horizontal col-md-8" role="form">
            <div class="form-group">
                <h1>Mahndi Design</h1>
                <img src="~/Images/m2.jpg" width="800" height="400">


            </div>
            <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
        </form>
    </form>
    <form action="Detail1" method="post">
        <form class="form-horizontal col-md-8" role="form">
            <div class="form-group">
                <h1>Mahndi Design</h1>
                <img src="~/Images/13.jpg" width="800" height="400">


            </div>
            <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
        </form>
    </form>
    <form action="Detail1" method="post">
        <form class="form-horizontal col-md-8" role="form">
            <div class="form-group">
                <h1>Mahndi Design</h1>
                
                <img src="~/Images/14.jpg" width="800" height="400">


            </div>
            <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
        </form>
    </form>
    <form action="Detail1" method="post">
        <form class="form-horizontal col-md-8" role="form">
            <div class="form-group">
                <h1>Mahndi Design</h1>

                <img src="~/Images/15.jpg" width="800" height="400">


            </div>
            <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
        </form>
    </form>
    <form action="Detail1" method="post">
        <form class="form-horizontal col-md-8" role="form">
            <div class="form-group">
                <h1>Mahndi Design</h1>
                <img src="~/Images/16.jpg" width="800" height="400">


            </div>
            <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
        </form>
    </form>


</body>
</html>
