@model final_project.Models.Walima
<html>
<head>
    <title>

    </title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/js/bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>

</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WWeedding Planner</a>


        </div>
        <div>
            <ul class="nav navbar-nav">



                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Mehndi", "Mehndi", "Home")</li>
                <li>@Html.ActionLink("Barat", "Barat", "Home")</li>

                <li>
                    @Html.ActionLink("Search", "Search", "Home")
                </li>
                <li>
                    @Html.ActionLink("Logout", "Logout", "Home")
                </li>

                

            </ul>
        </div>
    </nav>



    <form action="Detail3" method="post">
        <form class="form-horizontal col-md-8" role="form">
            <div class="form-group">
                <h1>Walima Design</h1>
                <img src="~/Images/1.jpg" width="800" height="400">


            </div>
            <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
        </form>
        <form action="Detail3" method="post">
            <form class="form-horizontal col-md-8" role="form">
                <div class="form-group">
                    <h1>Walima Design</h1>
                    <img src="~/Images/white.jpg" width="800" height="400">


                </div>
                <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
            </form>
            <form action="Detail3" method="post">
                <form class="form-horizontal col-md-8" role="form">
                    <div class="form-group">
                        <h1>Walima Design</h1>
                        <img src="~/Images/w1.jpg" width="800" height="400">


                    </div>
                    <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
                </form>
                <form action="Detail3" method="post">
                    <form class="form-horizontal col-md-8" role="form">
                        <div class="form-group">
                            <h1>Walima Design</h1>
                            <img src="~/Images/w2.jpg" width="800" height="400">


                        </div>
                        <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
                    </form>
                    <form action="Detail3" method="post">
                        <form class="form-horizontal col-md-8" role="form">
                            <div class="form-group">
                                <h1>Walima Design</h1>
                                <img src="~/Images/w3.jpg" width="800" height="400">


                            </div>
                            <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
                        </form>
                        <form action="Detail3" method="post">
                            <form class="form-horizontal col-md-8" role="form">
                                <div class="form-group">
                                    <h1>Walima Design</h1>
                                    <img src="~/Images/red.jpg" width="800" height="400">


                                </div>
                                <button onclick="" type="submit" style="margin-left:60px; color:black" class="btn btn-danger">Details</button>
                            </form>


</body>
</html>
